<div class="main-container text-white">
    <div class="d-flex justify-content-between align-items-center px-4 py-3">
      <div class="fw-bold fs-4">Busines Name</div>
      <div class="d-flex gap-4">
        <a href="#" class="text-white text-decoration-none">Public view page</a>
        <a href="#" class="text-white text-decoration-none">Welcome, Manohar!</a>
        <button class="btn btn-light text-dark btn-sm">Logout</button>
      </div>
    </div>

    <div class="text-center my-4">
      <h1 class="fw-bold display-5">Check all your products<br>Add, update or manage!</h1>
      <button class="btn btn-primary mt-3" (click)="openProductForm()">Add Product</button>
    </div>

    <div class="d-flex justify-content-center gap-3 px-3">
      <div class="input-group" style="max-width: 500px;">
        <input
         type="text"
         [(ngModel)]="searchQuery"
         class="form-control" placeholder="Search for products">
        <button class="btn btn-light">🔍</button>
      </div>
    </div>

    

    <div class="container mt-5">
      <div class="row text-dark">
        <div class="col-md-3 mb-4" *ngFor="let product of filteredProducts">
          <app-product-list-item-component
          [product]="product"
          (edit)="editProduct(product)"
          (delete)="deleteProduct(product.id)"
          ></app-product-list-item-component>
        </div>
      </div>
    </div>
    <div class="overlay" *ngIf="showModal">
      <div class="modal" tabindex="-1" [class.show]="showModal" style="display: block;" >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ isEditMode ? 'Update Product' : 'Add Product' }}</h5>
              <button type="button" class="btn-close" (click)="closeProductForm()"></button>
            </div>
            <div class="modal-body">
              <app-product-form-component
              [product]="selectedProduct || { id: 0, name: '', description: '', price: 0 }"(save)="saveProduct($event)"></app-product-form-component>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>